@use "imports/variables.scss" as *;
@use "~sass-mq/mq.scss";

.place_section {
  position: relative;
  padding: $header-height 0;
  width: 100%;
  min-height: 1300px;
  max-height: 3200px;
  background: #000;
  @include mq.mq($until: tablet) {
    min-height: 900px;
  }

  &-header-place {
    position: relative;
    margin-top: 180px;
    font-weight: 700;
    font-size: 128.385px;
    line-height: 90%;
    text-align: center;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    color: #d9d9d9;

    @include mq.mq($until: extrawide) {
      font-size: 80px;
    }

    @include mq.mq($until: tablet) {
      font-size: 47.223px;
    }
  }

  &-header-date {
    position: relative;
    margin-top: 450px;
    font-weight: 700;
    font-size: 128.385px;
    line-height: 90%;
    text-align: center;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    color: #d9d9d9;

    @include mq.mq($until: extrawide) {
      font-size: 80px;
    }

    @include mq.mq($until: tablet) {
      margin-top: 350px;
      font-size: 47.223px;
    }
  }

  .tower-image {
    position: absolute;
    width: 500px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    @include mq.mq($until: tablet) {
      width: 300px;
      top: 55%;
    }
  }
}
