<section id="about" class="section section--lightdarkblue about">
  <div class="section__container">
    <div class="section__inner-container">
      <div class="section__content">
        <h1 class="about__heading">What is Euruko?</h1>

        <p>
          Euruko is a Ruby conference organised annually, each year in a different European city chosen by the participants.
        </p>
        <p>
          It was firstly held in 2003 and has since become an annual event that brings together 
          developers, enthusiasts, and companies that use Ruby.
        </p>
        <p>
          The conference format includes talks, workshops, and networking opportunities, 
          and is a platform for sharing knowledge, exchanging ideas, and building 
          connections within the Ruby community. 
        </p>
        <p> 
          The name "Euruko" is a combination of "Europe" and "Ruby Kaigi" (which is the name of the first Ruby conference held in Japan).
        </p>
      </div>
    </div>
  </div>
</section>
