<section class="about_section">
  <div class="about_section-container" id="about">
    <div class="ellips">
      <div class="about_item-container">
        <div id="about-item" class="about_item">
          <h1 class="about_item-header">Top-notch speakers</h1>
          <p class="about_item-description">
            Recognized subject matter experts ​led by Euruko habitué chief creator of Ruby language Yukihiro Matsumoto
          </p>
        </div>
        <img
          class="line"
          src="{% webpack_path images/home/big-line.svg %}"
          alt="line">
        <div id="about-item" class="about_item">
          <h1 class="about_item-header">Community networking</h1>
          <p class="about_item-description">
            Brand new experience at Euruko’23! Boost your community with new knowledge, valuable content, engaging activities and have fun with like-minded people.
          </p>
        </div>
      </div>
    </div>
    <img
      class="line-2"
      src="{% webpack_path images/home/big-line.svg %}"
      alt="line">
    <div class="ellips">
      <div class="about_item-container">
        <div id="about-item" class="about_item">
          <h1 class="about_item-header">
            Unforgettable traveling
          </h1>
          <p class="about_item-description">
            Vilnius has everything you need: the old town to lose yourself, and all the modern facilities to find comfort, unique nature to be alone with yourself, and delicious cuisine to meet friends.
          </p>
        </div>
        <img
          class="line"
          src="{% webpack_path images/home/big-line.svg %}"
          alt="line">
        <div id="about-item" class="about_item">
          <h1 class="about_item-header">
            Triple celebration
          </h1>
          <p class="about_item-description">
            20 years of Euruko, 30 years of Ruby, 
            700 years of Vilnius — we definitely have something to celebrate!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>