<section id="home-content" class="banner_section">
  <div>
    <a class="banner_section-logo" href="{{ "/" | relative_url }}">
      <img src="{% webpack_path images/home/logo-mobile.svg %}" alt="Euruko 2023" />
    </a>
    <nav class="banner_section-navigation">
      <a
        id="nav_link"
        href="/#about"
        class="link">about</a>

      <a class="header__logo" href="{{ "/" | relative_url }}">
        <img src="{% webpack_path images/animation/small_logo.svg %}" alt="Euruko 2023" />
      </a>
      <a
        id="nav_link"
        href="/#speakers"
        class="link">speakers</a>
    </nav>
  </div>
  <h1 class="banner_section-header">Join Euruko <br/> and make it <br/> ruby-doo-bee-doo!</h1>
</section>