<section class="committee-section">
    <div class="content-container">
        <div class="icon-container">
            <img class="search-icon" alt="search-icon" src={% webpack_path images/home/search.svg %}>
        </div>
        <div class="content-info">
            <h1 class="content-info__header">Make a <br/> difference!</h1>
            <p class="content-info__description">
                Join our program committee and help us to shape the Euruko's agenda. Contact us with
                a short bio and be the one who defines what is hot and what is not.
            </p>
            <div class="content-info__button">
                organizers@euruko.org
            </div>
        </div>
    </div>
</section>