<section id="contacts" class="contacts_section">
  <div class="contacts-container">
    <div class="contact">
      <h1 class="contact-header">
        Sponsorship:
      </h1>
      <span class="contact-link">
        sponsors@euruko.org
      </span>
    </div>
    <div class="contact">
      <h1 class="contact-header">
        Collaboration, partnership, general questions:
      </h1>
      <span class="contact-link">
        organisers@euruko.org
      </span>
    </div>
    <div class="contact">
      <h1 class="contact-header">
        Any other question:
      </h1>
      <span class="contact-link">
        contact@euruko.org
      </span>
    </div>
  </div>
  <a href="{{ "/privacy" | relative_url }}" style="color:#D9D9D9; margin: 0 auto;">PRIVACY POLICY
  </a>
  <span style="max-width:200px; font-style: normal;-weight: 500;font-size: 20px; line-height: 120%;text-align: center;letter-spacing: -0.02em;color: #626262; align-self: center; justify-self: end; margin: 30px auto;">Euruko
    2023<br/> Vilnius, Lithuania <br/> 21 — 23 of September</span>

</section>