<section id="speakers" class="for-speakers-section">
  <div class="for-speakers-section__container">
    <h1 class="for-speakers-section__header">
      CAll
      <span class="spacer"></span>
      for
      <br/>
      speakers
      <img
        class="rabbit-image"
        src="{% webpack_path images/home/rabbit.png %}"
        alt="rabbit" />
    </h1>
    <p class="for-speakers-section__descriptoin">
      Euruko is being organized for the past 20 years by Ruby developers for Ruby developers. It’s a truly
      volunteer-based event and like Ruby it is fostered by the community. Our attendees enjoy its informal atmosphere and lots of opportunities to listen, to talk, to hack and to have fun.
    </p>
    <div class="for-speakers-section__button">
      <a href="{{ "/cfp" | relative_url }}">
        click here
      </a>
    </div>
  </div>
</section>