<section id="about" class="section section--lightdarkblue about hero__main-container">
  <div class="section__container">
    <div class="section__inner-container">
      <div class="section__content">
        <h1 class="about__heading">
    
            <span style="font-size: 74px; color: #000; position: relative; top: -4px;">20</span> EURUKO,
            <span style="font-size: 49px; color: #000; position: relative; top: 2px;">30</span> RUBY,
            <span style="font-size: 58px; color: #000; position: relative; top: 10px;">700</span> VILNIUS

        </h1>
        
        <div class="hero__main-slogan-first-line">
          <p>
            Join Euruko 2023 in Vilnius, Lithuania!
          </p>
        </div>
        <div class="hero__main-slogan-dates">
            21&#x2013;23 September 2023 &nbsp;&nbsp;→ &nbsp;&nbsp;
            21&#x2013;23 September 2023 &nbsp;&nbsp;→ &nbsp;&nbsp;
            21&#x2013;23 September 2023 &nbsp;&nbsp;→ &nbsp;&nbsp;
            21&#x2013;23 September 2023
        </div>
        <div class="hero__main-slogan-second-line">
          <p>
            The First and Oldest Ruby Conference in Europe celebrates its 20th years anniversary, 
            alongside Ruby 30th birthday 
            and Vilnius 700th years young date.
          </p>
          
          <div class="attendees-info hero__main-slogan-stats">
            <span class="attendees group-blue">650+ attendees</span>
            <span class="separator">|</span>
            <span class="countries group-red">45+ countries</span>
            <span class="separator">|</span>
            <span class="speakers group-green">20+ speakers</span>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
