<section id="newsletter" class="section section--darkblue">
  <div class="section__container">
    <div class="section__inner-container">
      <div class="section__columns">
        <div class="section__small-column">
          <h1 id="newsletter-info" class="section__heading section__heading--teal">
            Newsletter
          </h1>
        </div>
        <div class="section__large-column">
          <div class="section__content">
            <p>
              Sign up for the Euruko newsletter to be first to hear any about
              the call for proposals, the speaker line-up, diversity tickets, or
              any other event details.
            </p>
            <form
              action="https://buttondown.email/api/emails/embed-subscribe/euruko"
              method="post"
              target="popupwindow"
              onsubmit="window.open('https://buttondown.email/euruko', 'popupwindow')"
              class="embeddable-buttondown-form"
            >
              <div>
                <label for="bd-email" class="form-title">Enter your email address</label>
              </div>
              <div class="form-inputs">
                <input type="email" name="email" id="bd-email" class="form-email" placeholder="Your email address" required />
                <input type="hidden" value="1" name="embed" />
                <input type="submit" value="Subscribe" class="form-submit" />
              </div>
              <p>
                <a href="https://buttondown.email" target="_blank" rel="nofollow noopener">Powered by Buttondown.</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
