<section class="place_section">
  <h1 class="place_section-header-place">
    <span style="position: relative; z-index: 2;">
      Vilnius
    </span>
    <br/>
    <span style="z-index: 1;">
      Lithuania
    </span>
    <img
      class="tower-image"
      src="{% webpack_path images/home/tower.svg %}"
      alt="tower" />
  </h1>
  <h1 class="place_section-header-date" style="z-index: 2;">
    21 — 23 <br/> September <br/> 2023
  </h1>
</section>