<section id="schedule" class="section section--lightdarkblue schedule">
  <div class="section__container">
    <div class="section__inner-container">
      <h1 id="heading-schedule" class="section__heading section__heading--blue">
        Schedule
      </h1>
      <p class="section__info">
        A rough outline of each day's programme. We'll have a more detailed
        schedule available as soon as we've confirmed all talks.
      </p>

      <div class="schedule__table">
        <div class="table">
          <div class="table__heading">
            Day 1
          </div>
          <div class="table__table">
            <div class="table__row">
              <div class="table__time">
                <time datetime="2022-10-13T09:00:00+0300">
                  09:00
                </time>
              </div>
              <div class="table__event">
                Doors open
              </div>
            </div>

            <div class="table__row">
              <div class="table__time">
                <time datetime="2022-10-13T17:00:00+0300">
                  17:00
                </time>
              </div>
              <div class="table__event">
                The last talk ends
              </div>
            </div>

            <div class="table__row">
              <div class="table__time">
                <time datetime="2022-10-13T19:00:00+0300">
                  19:00
                </time>
              </div>
              <div class="table__event">
                Party
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="schedule__table">
        <div class="table">
          <div class="table__heading">
            Day 2
          </div>
          <div class="table__table">
            <div class="table__row">
              <div class="table__time">
                <time datetime="2022-10-13T09:30:00+0300">
                  09:30
                </time>
              </div>
              <div class="table__event">
                Doors open
              </div>
            </div>

            <div class="table__row">
              <div class="table__time">
                <time datetime="2022-10-14T17:00:00+0300">
                  17:00
                </time>
              </div>
              <div class="table__event">
                The closing keynote ends
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
