<section class="ticket-section">
  <div class="content-container">
    <div class="content-info">
      <h1 class="content-info__header"> Early Bird Tickets<br/> Fully Pre-Booked.</h1>
      <p class="content-info__description">
        Tickets to Euruko’23 are on their way. 
        <br/> Sales dates will be announced soon.
        <br/> Stay tuned on Twitter.
      </p>
    </div>
    <div class="ticket-section__button">
      <a href="https://twitter.com/euruko" target="_blank">
        @Euruko
      </a>
    </div>
  </div>
</section>