<section class="ticket-section">
  <div class="content-container">
    <div class="content-info">
      <h1 class="content-info__header">You snooze,<br/> you lose.</h1>
      <p class="content-info__descriptoin">
        Be one of the first to attend Euruko’23 and get exclusive T-shirt and badge to stand out at the conference.<br/> Limited availability!
      </p>
    </div>
    <div class="ticket-section__button">
      <a href="https://forms.gle/APjUSrtyZDShkH3K9" target="_blank">
        Book your ticket
      </a>
    </div>
  </div>
</section>