<div class="jobs__company-job">
  <h2 class="jobs__job-heading">{{ title }}</h2>
  <div class="jobs__job-description">
    {{ content }}
  </div>
  <div class="jobs__cta">
    <a
      href="{{ url }}"
      class="section__cta section__cta--large section__cta--pink section__cta--no-margin"
      target="_blank"
      rel="noopener noreferrer"
      >Join us</a
    >
  </div>
</div>
