<section id="speakers" class="cfp-section">
  <div class="cfp-section__container">
    <img
      src="{% webpack_path images/speakers/bottom-half.svg %}"
      alt="line"
      class="bottom-half-ellipse-bg">
    <h1 class="cfp-section__header" style="position: relative; z-index: 1;">
      <img
        src="{% webpack_path images/speakers/arrow-to-right.svg %}"
        alt="arrow-to-right"
        class="arrow-to-right">
      The CFP is open from the 1<span style="font-size: 30px; line-height: 90%;">st</span>
      of April to the 31<span style="font-size: 30px; line-height: 90%;">st</span>
      of May 2023
      <img
        src="{% webpack_path images/speakers/arrow-to-left.svg %}"
        class="arrow-to-left"
        alt="arrow-to-left">
    </h1>
    <div style="position: relative; z-index: 1;width: 100vw;">
      <img
        src="{% webpack_path images/speakers/arrow-to-top.svg %}"
        alt="arrow-to-top"
        class="arrow-to-top">
      <img
        src="{% webpack_path images/speakers/lines/line_01-mobile.svg %}"
        class="bottom-half-ellipse-bg-mobile"
        alt="bottom-half">
    </div>
    <p class="cfp-section__description">Euruko is being organized for the past 20 years by Ruby developers for Ruby developers. It’s a truly volunteer-based event and like Ruby it is fostered by the community.  Our attendees enjoy its informal atmosphere and lots of opportunities to listen, to talk, to hack and to have fun.
    </p>
  </div>
</section>