<section class="interests-section">
  <div class="interests-section__container">
    <div style="position: relative; z-index: 1;width: 100vw;">
      <h1 class="interests-section__header">
        <img
          src="{% webpack_path images/speakers/arrow-to-bottom.svg %}"
          alt="arrow-to-bottom"
          class="arrow-to-bottom">
        Here are top-list of interests of Euruko’22 attendees
      </h1>
      <img
        src="{% webpack_path images/speakers/lines/02.svg %}"
        class="top-half-ellipse-bg "
        alt="top-half-ellipse-bg">
      <img
        src="{% webpack_path images/speakers/lines/03.svg %}"
        class="bottom-half-ellipse-bg "
        alt="bottom-half-ellipse-bg">
    </div>
    <div class="interests-listing" data-interests-listing>
      {% for interest in site %}
        <div class="interest-container ">
          <span class="interest">
            {{ interest.name }}
          </span>
        </div>
      {% endfor %}
    </div>
    <div class="description-container">
      <p class="interests-section__description">Talks should be delivered in english.</p>
      <img
        class="line"
        src="{% webpack_path images/speakers/line.svg %}"
        alt="line">
      <p class="interests-section__description">Talks are expected to be 30 minutes long, not including a short Q&A section after the talk.
      </p>
      <img
        class="line"
        src="{% webpack_path images/speakers/line.svg %}"
        alt="line">
      <p class="interests-section__description">The questions in the Q&A section are screened and moderated.</p>
    </div>
  </div>
</section>