<section class="pluses-section">
  <div class="pluses-section__container">
    <div style="position: relative; z-index: 1;width: 100vw;">
      <h1 class="pluses-section__header">Speaker Benefits</h1>
      <img
        src="{% webpack_path images/speakers/lines/06.svg %}"
        class="bottom-half-ellipse-bg "
        alt="bottom-half-ellipse-bg">
      <img
        src="{% webpack_path images/speakers/lines/07.svg %}"
        class="top-half-ellipse-bg "
        alt="top-half-ellipse-bg">
    </div>
    <div class="pluses-item-container">
      <p class="pluses-item">
        You should be prepared to travel to Vilnius in September to give the talk in-person. So, check your calendar to join  of September 2023!
      </p>
      <img
        class="line"
        src="{% webpack_path images/speakers/line.svg %}"
        alt="line">
      <p class="pluses-item">
        Travel and accommodation expenses covered up to a maximum of €500 per session.
      </p>
      <img
        class="line-2"
        src="{% webpack_path images/speakers/line.svg %}"
        alt="line">
    </div>

    <p class="pluses-section__description">Expenses are primarily reimbursed against receipts after the event, however we can make other arrangements if this is not possible for you.</p>

  </div>
  <div style="text-align: center; margin: 120px auto;">
    <div style="position: relative;  width: 100%; ">
      <p style="position: relative;z-index: 2; font-weight: 600; font-size: 30px; line-height: 124.9%; text-align: center; color: #737373; background-color: #d9d9d9; width: 119px;margin: 0 auto;">Note</p>

      <img
        src="{% webpack_path images/speakers/lines/08.svg %}"
        class="bottom-half-ellipse-bg "
        alt="bottom-half-ellipse-bg"
        style="bottom:17px">
    </div>
    <div style="display: flex; align-items: center; padding: 24px 44px; max-width: 465px; background: radial-gradient(50% 50% at 50% 50%, #D7D7D7 0%, #C9C9C9 100%); box-shadow: 3.67404px 2.93923px 11.0221px rgba(0, 0, 0, 0.13); border-radius: 47.0277px; margin: 3% auto;">
      <span style="font-weight: 400; font-size: 16px; line-height: 120%; text-align: center; color: #5C5C5C;">For sessions with more than one speaker, the travel expenses budget is split among all speakers.</span>
    </div>
  </div>
</section>