<section class="request-section">
  <h1 class="request-section__header">
    Ready to rock’n’roll?
  </h1>
  <a
    href="https://www.papercall.io/eurukocfp"
    class="request-section__link"
    target="_blank">
    <span class="text">
      apply
    </span>
  </a>
  <img
    class="request-section__background"
    src="{% webpack_path images/speakers/large-ellipse.svg %}"
    alt="all-ellipse">
</section>