<section class="waiting-section">
  <div class="waiting-section__container">
    <div style="position: relative; z-index: 1;width: 100vw;">
      <h1 class="waiting-section__header">What do we want to hear from you</h1>
      <img
        src="{% webpack_path images/speakers/lines/01.svg %}"
        class="top-half-ellipse-bg"
        alt="top-half-bg">
    </div>
    <p class="waiting-section__description">We’re looking for a wide range of topics related to Ruby, coding, and everything related to that. We’re aiming to have a balance of talks aimed at diverse levels of expertise. Euruko attendees — 
      it’s not only Ruby developers, but also Elixirists, marketers, frontenders, bloggers with common passion in Ruby, backend, community and sharing experience.
    </p>
  </div>
</section>