@use "imports/variables.scss" as *;
@use "~sass-mq/mq.scss";

.interests-section {
  position: relative;
  margin-top: -$header-height;
  pointer-events: none;

  &__container {
    padding: 100px 0 100px 0;
    pointer-events: auto;

    @include mq.mq($until: superwide) {
      padding: 80px 0 80px 0;
    }

    @include mq.mq($until: tablet) {
      padding: 40px 0 40px 0;
    }
  }

  &__header {
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
    max-width: 585px;
    font-weight: 700;
    font-size: 50px;
    line-height: 90%;
    text-align: center;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    background-color: #d9d9d9;

    @include mq.mq($until: wide) {
      margin-bottom: 100px;
      font-size: 50px;
      width: 70%;
    }

    @include mq.mq($until: tablet) {
      margin-top: 50px;
      font-size: 30px;
      width: 62%;
    }
  }

  .arrow-to-bottom {
    position: absolute;
    bottom: -90px;
    left: 50%;
    transform: translateX(-50%);
    width: 64px;
    height: 64px;
    z-index: 1;
    @include mq.mq($until: wide) {
      width: 42px;
      height: 42px;
      bottom: -65px;
    }
  }

  &__description {
    max-width: 300px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
    z-index: 3;
    background-color: #d9d9d9;

    @include mq.mq($until: wide) {
      width: 35%;
      color: #838383;
    }
    @include mq.mq($until: tablet) {
      width: 120%;
      font-size: 15px;
    }
  }
  .interests-listing {
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    flex-wrap: wrap;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;

    .interest-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90.74px;
      padding: 10px 40px;
      background: radial-gradient(50% 50% at 50% 50%, #ffffff 0%, #eaeaea 100%);
      box-shadow: 3.67404px 2.93923px 11.0221px rgba(0, 0, 0, 0.13);
      border-radius: 47.0277px;
      height: auto;
      @include mq.mq($until: superwide) {
        padding: 10px 30px;
      }

      @include mq.mq($until: wide) {
        padding: 10px 14px;
      }

      .interest {
        font-weight: 600;
        font-size: 45.8288px;
        line-height: 90%;
        text-align: center;
        letter-spacing: -0.06em;
        text-transform: uppercase;
        height: auto;
        @include mq.mq($until: superwide) {
          font-size: 25.8288px;
        }

        @include mq.mq($until: wide) {
          font-size: 19px;
        }
      }
    }
    @include mq.mq($until: tablet) {
      margin-top: 50px;
      max-width: 90%;
    }
  }

  .description-container {
    width: 80%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    @include mq.mq($until: tablet) {
      margin-top: 40px;
      width: 50%;
      align-items: center;
      flex-direction: column;
    }

    .line {
      width: 5px;
      height: 100px;
      @include mq.mq($until: tablet) {
        height: 49px;
      }
    }
  }

  .top-half-ellipse-bg {
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
  }
  .bottom-half-ellipse-bg {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
  }
}
