@use "imports/variables.scss" as *;
@use "~sass-mq/mq.scss";

.waiting-section {
  position: relative;
  margin-top: -$header-height;
  pointer-events: none;

  &__container {
    padding: 100px 0 100px 0;
    pointer-events: auto;

    @include mq.mq($until: wide) {
      padding: 80px 0;
    }

    @include mq.mq($until: tablet) {
      padding: 40px 0;
    }
  }

  &__header {
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 2;
    max-width: 475px;
    font-weight: 700;
    font-size: 50px;
    line-height: 90%;
    text-align: center;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    background-color: #d9d9d9;

    @include mq.mq($until: desktop) {
      margin-top: 20px;
    }

    @include mq.mq($until: wide) {
      margin-top: 50px;
    }

    @include mq.mq($until: tablet) {
      font-size: 30px;
      width: 50%;
      margin-top: 0px;
    }
  }
  &__description {
    margin-top: 180px;
    margin-right: auto;
    margin-left: auto;
    max-width: 896px;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
    z-index: 3;
    background-color: #d9d9d9;

    @include mq.mq($until: desktop) {
      margin-top: 0;
    }

    @include mq.mq($until: wide) {
      margin-top: -50px;
      font-size: 20px;
      width: 55%;
    }
    @include mq.mq($until: tablet) {
      width: 80%;
    }
  }

  .top-half-ellipse-bg {
    position: absolute;
    top: 50px;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    z-index: 1;
  }
}
