<section id="info" class="section section--darkblue">
  <div class="section__container">
    <div class="section__inner-container">
      <div class="section__columns">
        <div class="section__small-column">
          <h1 id="heading-info" class="section__heading section__heading--teal">
            News & Updates
          </h1>
        </div>
        <div class="section__large-column">
          <div class="section__content">

          <div class="table">
              <div class="row">
                  <div class="col">
                      <div class="icon"></div><span>📣 The site is live!</span>
                      <p>
                        But it soon will be updated with more blocks and cool design
                        /&nbsp;<span class="timestapm">10.03.2022</span>
                      </p>
                  </div>
                  <div class="col">
                      <div class="icon"></div><span>📣 Call for Proposals!</span>
                      <p>
                        CFP starts from 1st of April and will be open for 2 month
                        /&nbsp;<span class="timestapm">10.03.2022</span>
                      </p>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <div class="icon"></div><span>📣 Tickets!</span>
                      <p>
                        Soon we'll open Wait List for those who want to be Early Birds
                        /&nbsp;<span class="timestapm">10.03.2022</span>
                      </p>
                  </div>
                  <div class="col">
                      <div class="icon"></div><span>📣 Sponsors and Partners!</span>
                      <p>
                        Updates for Sponsor packages will be published before the end of March 
                        /&nbsp;<span class="timestapm">10.03.2022</span>
                      </p>
                      
                  </div>
              </div>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
