<section id="location" class="section section--background">
  <img
    class="section__background"
    src="<%= webpack_path "images/location/history.jpg" %>"
    alt="alt"
    loading="lazy"
  />
  <div class="section__background-darken-more"></div>
  <div class="section__container">
    <div class="section__inner-container">
      <div class="section__columns">
        <div class="section__small-column">
          <h1 id="heading-location" class="section__heading section__heading--white section__heading--active">
            <span style="color:white">Location</span>
          </h1>
        </div>
        <div class="section__large-column">
          <div class="section__content" style="color:white">
            <%= markdownify do %>
              The Compensa Concert Hall in Vilnius is a world-class venue that would make an excellent location for the Euruko. 
              It's modern and spacious facility offers a range of amenities, including ample space to accommodate more than 1,000 attendees, 
              different rooms and spaces for various purposes, and state-of-the-art technology and top-notch amenities, such as high-speed internet, advanced audiovisual equipment, and modern catering facilities.
            <% end %>

            <a
              href="https://compensakoncertusale.lt/"
              class="section__cta"
              target="_blank"
              rel="noopener noreferrer"
              >
            Learn more about Compensa</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
