<section class="section section--lightdarkblue">
  <div class="section__container">
    <div class="section__inner-container">
      <div class="section__single-content">
        <article class="section__content">
          <main>{{ content }}</main>
        </article>
      </div>
    </div>
  </div>
</section>
