<header id="header" class="header header--not-scrolled">
  <div class="header__inner">
    <button
      id="mobile-toggle"
      class="header__mobile-toggle"
      tabindex="0"
      aria-label="Open menu">
      <div class="header__mobile-toggle-inner" tabindex="-1">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </button>
    <nav class="header__navigation">
      {% if page.url == "/" %}
        <a
          id="nav_link"
          href="/#about"
          class="header__link">about</a>

        <a class="header__logo" href="{{ "/" | relative_url }}">
          <img src="{% webpack_path images/animation/small_logo.svg %}" alt="Euruko 2023" />
        </a>
        <a
          id="nav_link"
          href="/#speakers"
          class="header__link">speakers</a>
      {% else %}
        <a class="header__logo" href="{{ "/" | relative_url }}">
          <img src="{% webpack_path images/animation/small_logo.svg %}" alt="Euruko 2023" />
        </a>
      {% endif %}
    </nav>
  </div>
</header>